@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body { /*패턴바탕*/
    background-color: #a3a3a3;
    background-image: url(./pattern.png);
    background-size: 100px;
    position : pixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
}


.bookcover { /*파란바탕*/
    background-color: #b4d1da;
    border-radius: 9px;
    border: 1px solid #738186;
    width : 960px;
    height : 660px;
    margin: 100px auto;
    position: relative;
}



.bookdot { /*점선*/
    border: 2px dashed #f5f5f5;
    border-radius: 9px;


    position: absolute; 
    top: 15px;
    left: 15px;
    width: 930px;
    height: 630px;
}


.page {/*제일 안쪽 바탕*/
    background-color: #f5f5f5;
    border-radius: 9px;
    
    position: absolute; 
    top: 10px;
    left: 10px;
    width: 910px;
    height: 610px;  
}


    
.container{
    position: absolute;
    top: 20px;
    left: 20px;
    right:20px;
    bottom:20px;
    
    display: flex;
    
    width: 870px;
    height: 570px;
}


.left {
    flex:0.25;
    
    display:flex;
    flex-direction: column;
    padding-right: 25px;    
}


.first{
    padding :1px;
    flex:0.05;
    padding-left: 30px; 


}




.profile {
    flex:0.95;
    background-color:#ffffff;
    border: 1px solid #e6e3e3;
    border-radius: 11px;
    
    padding-left: 25px;
    padding-right: 25px;
    
    display: flex;
    flex-direction:column;
    
    
}


.profileimg{
    flex:0.3;
    
    background-image: url("./프로필.jpeg");
    background-repeat: no-repeat;
    background-size: cover;


    
    margin-top: 30px;
    
    margin-bottom: 20px;


}
.profilemention{
    flex:0.4;
    align-items: flex-start;
    margin-bottom: 5px;
}




.profilebottom{
    flex:0.3;
}


.coding{
    margin-top: 10px;
    color:#144b8f;
    margin-bottom: 5px;


}



.m {
    flex:0.8;
    padding-left:10px;
    font-family: 'Yeongdo-Rg';
}


.address{
    flex:0.8;
    padding-left:150px;
        font-family: 'Yeongdo-Rg';
}



.bar {
    width:550px align="center";
}


.full{
    background-image: url("./quiz.gif");
    width: 555px; 
    height: 280px;;
}




.menubar #home{
    flex:0.07;
    margin-top:65px;
    margin-bottom: 10px;
    padding-left: 10px;
    width:70px;
    height:30px;
    border: 1px solid black;
    border-left-style:hidden;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #3794b0;
    font-family: 'Yeongdo-Rg';
}
    


.menubar #diary, #photo, #guestbook{
    flex:0.07;
    margin-top:10px;
    margin-bottom: 10px;
    padding-left: 10px;
    width:70px;
    height:30px;
    border: 1px solid black;
    border-left-style:hidden;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #3794b0;
    font-family: 'Yeongdo-Rg';
}



.menubar{
    flex:0.1;
    
    display:flex;
    flex-direction:column;
}


a{
    text-decoration: none;
    color:#fffffF;  
    font-weight:bold;
    font-size: 15px;
}



.menubar #home:hover,#diary:hover, #photobook:hover, #guestbook:hover {
    background-color: #7d70b3;
}



.dropbt {
    
    font-size: 13px;
    cursor: pointer;
    width: 110px;
    background-color: #ffffff;
    border: 0.5px solid;
    text-align: left;
    padding-left: 13px;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    zoom:1;
    


}


ul, li {
    list-style: none;
    width: 110px;
    height: 20px;
    padding-top: 0;
    padding-right: 1;
    
}


.dropdown-content{
    display: none;
    left: 2px;
    background-color: rgb(185, 177, 177);
    color: black;
    min-width: 100px    ;
    height:100px;
    text-align: center;
    padding-left: 2px;
    margin: 5px;
    padding-bottom:10px;
    text-align: center;
    


}


.dropdown-content a{
    color: rgb(27, 25, 25);
    font-size: 15px;
    text-decoration: none;
    display: black;
}



.dropdown-content li{
    margin-top: 10px;
}


.dropdown-content li:hover {
    background-color: #e0e4e4;
}
.dropdown:hover .dropdown-content {
    display: block;
}